.section {
    width: 100%;
    height: 100vh;
}
.section--1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.8rem;
    line-height: 52px;
    background-color: peru;
    color: #fff;
}