* {
  box-sizing: border-box;
}
body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  outline: 0;
}
#root {
  width: 100%;
  height: 100vh;
}
ul, ol {
  margin: 0;
  padding: 0;
}