* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none;
  outline: 0; }

#root {
  width: 100%;
  height: 100vh; }

ul, ol {
  margin: 0;
  padding: 0; }

.section {
  width: 100%;
  height: 100vh; }

.section--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 4.8rem;
  line-height: 52px;
  background-color: peru;
  color: #fff; }

.presentation {
  overflow: hidden;
  position: relative; }

.presentation__list ul li {
  width: 100%;
  height: 100vh; }
